.b-header-wrap {
  @extend %clearfix;
  width: 100%;
  @include rgba-background(#000, 0.33);
  @include box-shadow(0 1px 0 rgba(0,0,0,0.55), inset 0 -1px 0 rgba(255,255,255,0.09));
  margin-bottom: 40px;
  .b-header {
    width: 1010px;
    margin: 0 auto;
    @include m-query-respond-to(ipad-landscape){
      width:960px;
    }
    @include m-query-respond-to(medium-screen){
      width:720px;
    }
    @include m-query-respond-to(tablet){
      width: 440px;
    }
    @include m-query-respond-to(mobile){
      width: 280px;
    }
    .b-logo {
      float: left;
      padding-top: 22px;
      @include m-query-respond-to(tablet){
        float: none;
        text-align: center;
      }
      @include m-query-respond-to(mobile){
        float: none;
        text-align: center;
      }
      img {
        @include m-query-respond-to(tablet){
          display: inline;
        }
        @include m-query-respond-to(mobile){
          display: inline;
        }
      }
    }
    .b-menu {
      float: right;
      position: relative;
      padding: 30px 0;
      @include m-query-respond-to(tablet){
        float: none;
      }
      @include m-query-respond-to(mobile){
        float: none;
      }
      ul {
        margin: 0;
        list-style-type: none;
        position: relative;
        @include m-query-respond-to(tablet){
          display: none;
        }
        @include m-query-respond-to(mobile){
          display: none;
        }
        li {
          position: relative;
          float: left;
          background: none;
          padding-left: 15px;
          margin-left: 15px;
          a {
            display: block;
            text-decoration: none;
            line-height: 1;
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 14px;
            letter-spacing: 0.4px;
            color: $menu-item;
            @include transition(all, 200ms, ease-in);
            padding: 0;
            font-weight: bold;
            &:hover {
              color: $menu-active;
            }
          }
          &.active {
            a {
              color: $menu-active;
            }
            li {
              a {
                color: $menu-item;
              }
            }
          }
          ul {
            position: absolute;
            left: 0;
            display: none;
            visibility: hidden;
            width: 160px;
            padding: 31px 0 0 0;
            ul {
              padding: 0;
            }
            li {
              display: list-item;
              float: none;
              background-color: #2c2c2c;
              padding: 0 15px;
              margin: 0;
              &:first-child {
                background-image: none;
                a {
                  background: none;
                }
              }
              ul {
                top: 0;
              }
              a {
                margin: 0;
                border: none;
                padding: 13px 0;
                line-height: 1;
                font-size: 13px;
                background: url('#{$b-header-images-path}/line.png') left top repeat-x;
                &:hover {
                  color: $menu-active;
                }
              }

            }
          }

        }
      }
      .selectnav {
        display: none;
        width: 280px;
        margin: 0 auto;
        @include m-query-respond-to(tablet){
          display: block;
          float: none;
        }
        @include m-query-respond-to(mobile){
          display: block;
          float: none;
        }
      }
    }
  }
}
* html .menu {
  height: 1%;
}




