

/*--------Global----------*/
body {
  @extend html;
  font: {
    family: 'Open Sans', sans-serif;
    size: 12px;
    weight: 400;
  }
  line-height: 21px;
  letter-spacing: 0.2px;
  color: $main-text;
}
.b-page {
  background: url('#{$b-page-images-path}/tile.png') scroll;
  width: 100%;
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
input,
textarea {
  background: rgba(0, 0, 0, 0.25);
  border: none;
  color: $main-text;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  @include sass-box-sizing($type: "border");
  width: 100%;
}
input:focus,
textarea:focus {
  background: rgba(0, 0, 0, 0.40)
}
p {
  margin-bottom: 20px
}
a {
  color: $link;
  text-decoration: none;
  @include transition(all, 200ms, ease-in);
  &:hover {
    color: $link-hover;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: $menu-item;
  margin-bottom: 20px;
}
h1 {
  font-size: 24px;
  line-height: 26px;
}
h2 {
  font-size: 22px;
  line-height: 24px;
}
h3 {
  font-size: 20px;
  line-height: 22px;
}
h4 {
  font-size: 18px;
  line-height: 20px;
}
h5 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
h6 {
  font-size: 14px;
  line-height: 18px;
}
h2.title {
  font-size: 15px;
  letter-spacing: 0.4px;
  line-height: 21px;
  margin-bottom: 10px;
}
h1.title a,
h2.title a {
  color: $menu-item;
}
.title a:hover {
  color: $link-hover;
}
ul {
  margin-bottom: 20px;
  list-style-type: circle;
  list-style-position: inside;
}
ul li {
  padding: 0;
  margin: 0;
}
ol {
  list-style: decimal;
  list-style-position: inside;
  margin-bottom: 20px;
}
ol li {
  padding: 0;
  margin: 0;
}
.b-page__img_frame_hover {
  display: block;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    @include box-shadow(inset 0 0 1px 0 rgba(255,255,255,0.7), 0px 0px 0px 1px rgba(0, 0, 0, 0.44));
  }
  a {
    .more {
      display: none;
      height: 100%;
      width: 100%;
      position: absolute;
      text-align: center;
      text-decoration: none;
      z-index: 100;
      background: rgba(0, 0, 0, 0.55) url('#{$b-footer-images-path}/icon-more.png') no-repeat center center;
    }
  }
}
.b-page_text_highlites1 {
  color: #86aca3;
  border-bottom: 1px dotted #86aca3;
}
.b-page_text_highlites2 {
  border-bottom: 1px dotted #86aca3;
}

