@import "mixin.lib";
/* Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
blockquote {
  quotes: none;
}
blockquote:before, blockquote:after {
  content: '';
  content: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img {
  border: none;
}

$components-path: "../../../components";

/* ------------------Font---------------------- */
/* Open Sans @font-face kit */

$open-sans-path: "#{$components-path}/b-page/fonts";

/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/Light/OpenSans-Light.eot');
  src: url('#{$open-sans-path}/Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$open-sans-path}/Light/OpenSans-Light.woff') format('woff'),
  url('#{$open-sans-path}/Light/OpenSans-Light.ttf') format('truetype'),
  url('#{$open-sans-path}/Light/OpenSans-Light.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* END Light */

/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/LightItalic/OpenSans-LightItalic.eot');
  src: url('#{$open-sans-path}/LightItalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$open-sans-path}/LightItalic/OpenSans-LightItalic.woff') format('woff'),
  url('#{$open-sans-path}/LightItalic/OpenSans-LightItalic.ttf') format('truetype'),
  url('#{$open-sans-path}/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
/* END Light Italic */

/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/Regular/OpenSans-Regular.eot');
  src: url('#{$open-sans-path}/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$open-sans-path}/Regular/OpenSans-Regular.woff') format('woff'),
  url('#{$open-sans-path}/Regular/OpenSans-Regular.ttf') format('truetype'),
  url('#{$open-sans-path}/Regular/OpenSans-Regular.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END Regular */

/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/Italic/OpenSans-Italic.eot');
  src: url('#{$open-sans-path}/Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
  url('#{$open-sans-path}/Italic/OpenSans-Italic.woff') format('woff'),
  url('#{$open-sans-path}/Italic/OpenSans-Italic.ttf') format('truetype'),
  url('#{$open-sans-path}/Italic/OpenSans-Italic.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
/* END Italic */

/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/Bold/OpenSans-Bold.eot');
  src: url('#{$open-sans-path}/Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$open-sans-path}/Bold/OpenSans-Bold.woff') format('woff'),
  url('#{$open-sans-path}/Bold/OpenSans-Bold.ttf') format('truetype'),
  url('#{$open-sans-path}/Bold/OpenSans-Bold.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* END Bold */

/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/BoldItalic/OpenSans-BoldItalic.eot');
  src: url('#{$open-sans-path}/BoldItalic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$open-sans-path}/BoldItalic/OpenSans-BoldItalic.woff') format('woff'),
  url('#{$open-sans-path}/BoldItalic/OpenSans-BoldItalic.ttf') format('truetype'),
  url('#{$open-sans-path}/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
/* END Bold Italic */

/* BEGIN CondLight */
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('#{$open-sans-path}/CondLight/OpenSans-CondLight-webfont-webfont.eot');
  src: url('#{$open-sans-path}/CondLight/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$open-sans-path}/CondLight/OpenSans-CondLight-webfont.woff') format('woff'),
  url('#{$open-sans-path}/CondLight/OpenSans-CondLight-webfont.ttf') format('truetype'),
  url('#{$open-sans-path}/CondLight/OpenSans-CondLight-webfont.svg#OpenSansCondLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* END CondLight */

/* BEGIN CondBold */
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('#{$open-sans-path}/CondBold/OpenSans-CondBold-webfont.eot');
  src: url('#{$open-sans-path}/CondBold/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$open-sans-path}/CondBold/OpenSans-CondBold-webfont.woff') format('woff'),
  url('#{$open-sans-path}/CondBold/OpenSans-CondBold-webfont.ttf') format('truetype'),
  url('#{$open-sans-path}/CondBold/OpenSans-CondBold-webfont.svg#OpenSansCondBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* END CondBold */


/* -------------------------------------------- */

/* ------------------Style---------------------- */
/* -------------------------------------------- */

/* ------------------Layout---------------------- */
/* -------------------------------------------- */

$b-page-images-path: "#{$components-path}/b-page/images";
$b-header-images-path: "#{$components-path}/b-header/images";
$b-content-images-path: "#{$components-path}/b-content/images";

html {
//  height: 100%;
}
body {
  @extend html;
//  background: url(../../../components/b-page/images/bg/1.jpg) no-repeat scroll;
  font: {
    family: 'Open Sans', sans-serif;
    size: 12px;
    weight: 400;
  }
  line-height: 21px;
  letter-spacing: 0.2px;
  color: #b9b9b9;
}
.push {
  clear: both;
}
.b-page {
  background: url('#{$b-page-images-path}/tile.png') scroll;
  width: 100%;
}
input,
textarea {
  background: rgba(0, 0, 0, 0.25);
  border: none;
  color: #b9b9b9;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  width: 100%;
}
input:focus,
textarea:focus {
  background: rgba(0, 0, 0, 0.40)
}
p {
  margin-bottom: 20px
}
a {
  color: #65817a;
  text-decoration: none;
  @include transition(all, 200ms, ease-in);
  &:hover {
    color: #86aca3
  }
}
a.more {
  margin-bottom: 20px;
  display: inline-block;
  line-height: 1;
}
a.button,
.forms fieldset .btn-submit,
#commentform input#submit {
  font-family: 'Open Sans Condensed', sans-serif;
  background: #f2f2f2 url(style/images/button.png) repeat-x;
  height: 31px;
  line-height: 31px;
  color: #383838;
  font-size: 14px;
  padding: 0px 18px;
  margin: 0 8px 0 0;
  display: inline-block;
  @include transition(all, 200ms, ease-in);
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  width: auto;
  border: none;
  font-weight: bold;
}
a.button.blue {
  background-color: #5f9cb8;
  color: #2d444e;
}
a.button.pink {
  background-color: #b55fb8;
  color: #443144;
}
a.button.purple {
  background-color: #635fb8;
  color: #313045;
}
a.button.yellow {
  background-color: #ac9757;
  color: #433f32;
}
a.button.red {
  background-color: #ac5757;
  color: #4a3232;
}
a.button.green {
  background-color: #5ca980;
  color: #2b4638;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #dedede;
  margin-bottom: 20px;
}
h1 {
  font-size: 24px;
  line-height: 26px;
}
h2 {
  font-size: 22px;
  line-height: 24px;
}
h3 {
  font-size: 20px;
  line-height: 22px;
}
h4 {
  font-size: 18px;
  line-height: 20px;
}
h5 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
h6 {
  font-size: 14px;
  line-height: 18px;
}
h2.title {
  font-size: 15px;
  letter-spacing: 0.4px;
  line-height: 21px;
  margin-bottom: 10px;
}
h1.title a,
h2.title a {
  color: #dedede
}
.title a:hover {
  color: #86aca3
}
ul {
  margin-bottom: 20px;
  list-style-type: circle;
  list-style-position: inside;
}
ul li {
  padding: 0;
  margin: 0;
}
ol {
  list-style: decimal;
  list-style-position: inside;
  margin-bottom: 20px;
}
ol li {
  padding: 0;
  margin: 0;
}
hr {
  border: none;
  background: transparent url(style/images/line.png) repeat-x;
  height: 3px;
  margin-top: 10px;
  margin-bottom: 30px;
}