@import "mixin.lib";
@import "mediaelementplayer";
/* Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
blockquote {
  quotes: none;
}
blockquote:before, blockquote:after {
  content: '';
  content: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img {
  border: none;
}
:focus {
  outline:0
}


/* ------------------Font---------------------- */
/* Open Sans @font-face kit */


/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/Light/OpenSans-Light.eot');
  src: url('#{$open-sans-path}/Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$open-sans-path}/Light/OpenSans-Light.woff') format('woff'),
  url('#{$open-sans-path}/Light/OpenSans-Light.ttf') format('truetype'),
  url('#{$open-sans-path}/Light/OpenSans-Light.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* END Light */

/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/LightItalic/OpenSans-LightItalic.eot');
  src: url('#{$open-sans-path}/LightItalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$open-sans-path}/LightItalic/OpenSans-LightItalic.woff') format('woff'),
  url('#{$open-sans-path}/LightItalic/OpenSans-LightItalic.ttf') format('truetype'),
  url('#{$open-sans-path}/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
/* END Light Italic */

/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/Regular/OpenSans-Regular.eot');
  src: url('#{$open-sans-path}/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$open-sans-path}/Regular/OpenSans-Regular.woff') format('woff'),
  url('#{$open-sans-path}/Regular/OpenSans-Regular.ttf') format('truetype'),
  url('#{$open-sans-path}/Regular/OpenSans-Regular.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END Regular */

/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/Italic/OpenSans-Italic.eot');
  src: url('#{$open-sans-path}/Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
  url('#{$open-sans-path}/Italic/OpenSans-Italic.woff') format('woff'),
  url('#{$open-sans-path}/Italic/OpenSans-Italic.ttf') format('truetype'),
  url('#{$open-sans-path}/Italic/OpenSans-Italic.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
/* END Italic */

/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/Bold/OpenSans-Bold.eot');
  src: url('#{$open-sans-path}/Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$open-sans-path}/Bold/OpenSans-Bold.woff') format('woff'),
  url('#{$open-sans-path}/Bold/OpenSans-Bold.ttf') format('truetype'),
  url('#{$open-sans-path}/Bold/OpenSans-Bold.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* END Bold */

/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/BoldItalic/OpenSans-BoldItalic.eot');
  src: url('#{$open-sans-path}/BoldItalic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$open-sans-path}/BoldItalic/OpenSans-BoldItalic.woff') format('woff'),
  url('#{$open-sans-path}/BoldItalic/OpenSans-BoldItalic.ttf') format('truetype'),
  url('#{$open-sans-path}/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
/* END Bold Italic */

/* BEGIN CondLight */
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('#{$open-sans-path}/CondLight/OpenSans-CondLight-webfont-webfont.eot');
  src: url('#{$open-sans-path}/CondLight/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$open-sans-path}/CondLight/OpenSans-CondLight-webfont.woff') format('woff'),
  url('#{$open-sans-path}/CondLight/OpenSans-CondLight-webfont.ttf') format('truetype'),
  url('#{$open-sans-path}/CondLight/OpenSans-CondLight-webfont.svg#OpenSansCondLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* END CondLight */

/* BEGIN CondBold */
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('#{$open-sans-path}/CondBold/OpenSans-CondBold-webfont.eot');
  src: url('#{$open-sans-path}/CondBold/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$open-sans-path}/CondBold/OpenSans-CondBold-webfont.woff') format('woff'),
  url('#{$open-sans-path}/CondBold/OpenSans-CondBold-webfont.ttf') format('truetype'),
  url('#{$open-sans-path}/CondBold/OpenSans-CondBold-webfont.svg#OpenSansCondBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* END CondBold */

/*--------Global----------*/
body {
  @extend html;
  font: {
    family: 'Open Sans', sans-serif;
    size: 12px;
    weight: 400;
  }
  line-height: 21px;
  letter-spacing: 0.2px;
  color: $main-text;
}
.b-page {
  background: url('#{$b-page-images-path}/tile.png') scroll;
  width: 100%;
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
input,
textarea {
  background: rgba(0, 0, 0, 0.25);
  border: none;
  color: $main-text;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  @include sass-box-sizing($type: "border");
  width: 100%;
}
input:focus,
textarea:focus {
  background: rgba(0, 0, 0, 0.40)
}
p {
  margin-bottom: 20px
}
a {
  color: $link;
  text-decoration: none;
  @include transition(all, 200ms, ease-in);
  &:hover {
    color: $link-hover;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: $menu-item;
  margin-bottom: 20px;
}
h1 {
  font-size: 24px;
  line-height: 26px;
}
h2 {
  font-size: 22px;
  line-height: 24px;
}
h3 {
  font-size: 20px;
  line-height: 22px;
}
h4 {
  font-size: 18px;
  line-height: 20px;
}
h5 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
h6 {
  font-size: 14px;
  line-height: 18px;
}
h2.title {
  font-size: 15px;
  letter-spacing: 0.4px;
  line-height: 21px;
  margin-bottom: 10px;
}
h1.title a,
h2.title a {
  color: $menu-item;
}
.title a:hover {
  color: $link-hover;
}
ul {
  margin-bottom: 20px;
  list-style-type: circle;
  list-style-position: inside;
}
ul li {
  padding: 0;
  margin: 0;
}
ol {
  list-style: decimal;
  list-style-position: inside;
  margin-bottom: 20px;
}
ol li {
  padding: 0;
  margin: 0;
}
.b-page__img_frame_hover {
  display: block;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    @include box-shadow(inset 0 0 1px 0 rgba(255,255,255,0.7), 0px 0px 0px 1px rgba(0, 0, 0, 0.44));
  }
  a {
    .more {
      display: none;
      height: 100%;
      width: 100%;
      position: absolute;
      text-align: center;
      text-decoration: none;
      z-index: 100;
      background: rgba(0, 0, 0, 0.55) url('#{$b-footer-images-path}/icon-more.png') no-repeat center center;
    }
  }
}
.b-page_text_highlites1 {
  color: #86aca3;
  border-bottom: 1px dotted #86aca3;
}
.b-page_text_highlites2 {
  border-bottom: 1px dotted #86aca3;
}

