@mixin rgba-background($hexcolor, $opacity) {
  background-color: $hexcolor;
  background-color: rgba($hexcolor, $opacity);
}
@mixin box-shadow($value...) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}
%clearfix-before:before {
  content: "";
  display: table;
  clear: both;
}
@mixin sass-box-sizing($type: "border") {
///* Acceptable values are border, content, and padding - content is the default W3C model */
  box-sizing: #{$type}-box;
  -webkit-box-sizing: #{$type}-box;
  -moz-box-sizing: #{$type}-box;
}
// Example: @include transition(height, 2s, linear);
@mixin transition( $property, $duration, $timing_function ) {
  -webkit-transition: $property $duration $timing_function;
  -moz-transition: $property $duration $timing_function;
  -ms-transition: $property $duration $timing_function;
  -o-transition: $property $duration $timing_function;
  transition: $property $duration $timing_function;
}

@mixin m-query-respond-to($media) {
  @if $media == ipad-landscape {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { @content; }
  }
  @else if $media == medium-screen {
    @media only screen and (min-width: 768px) and (max-width: 959px) { @content; }
  }

  @else if $media == tablet {
    @media only screen and (min-width: 480px) and (max-width: 767px) { @content; }
  }
  @else if $media == mobile {
    @media only screen and (max-width: 479px) { @content; }
  }
}

// ---------General Variables------------

$components-path: "../images";
$open-sans-path: "fonts";
$b-page-images-path: "#{$components-path}/b-page/images";
$b-header-images-path: "#{$components-path}/b-header/images";
$b-content-images-path: "#{$components-path}/b-content/images";
$b-footer-images-path: "#{$components-path}/b-footer/images";

$main-text: #b9b9b9;
$menu-item: #dedede;
$menu-active: #86aca3;
$link: #65817a;
$link-hover: #86aca3;
$meta-link: #797979;