@import "mixin.lib";
.b-footer-wrap {
  @include rgba-background(#000, 0.44);
  @include box-shadow(0 -1px 0 rgba(0,0,0,0.55), inset 0 1px 0 rgba(255,255,255,0.09));
  margin-top: 60px;
  .b-footer {
    width: 1010px;
    margin: 0 auto;
    padding: 25px 0;
    overflow: hidden;
    @include m-query-respond-to(ipad-landscape){
      width:960px;
    }
    @include m-query-respond-to(medium-screen){
      width:720px;
    }
    @include m-query-respond-to(tablet){
      width: 440px;
    }
    @include m-query-respond-to(mobile){
      width: 280px;
    }
  }
}

.b-footer-site-generator-wrap {
  @include rgba-background(#000, 0.55);
  .b-footer-site-generator {
    width: 1010px;
    margin: 0 auto;
    @include m-query-respond-to(ipad-landscape){
      width:960px;
    }
    @include m-query-respond-to(medium-screen){
      width:720px;
    }
    @include m-query-respond-to(tablet){
      width: 440px;
    }
    @include m-query-respond-to(mobile){
      width: 280px;
    }
  }
}
