doctype html
html
    head
        meta(charset='utf-8')
        meta(description='')
        meta(keywords='')
        title My Site
    body
        div.b-header
            include ../components/b-header/b-header
        div.b-content
            div.b-posts
        div.b-footer