@import "mixin.lib";
.b-content-wrap {
  @extend %clearfix;
  width: 1010px;
  margin: 0 auto;
  @include m-query-respond-to(ipad-landscape){
    width:960px;
  }
  @include m-query-respond-to(medium-screen){
    width:720px;
  }
  @include m-query-respond-to(tablet){
    width: 440px;
  }
  @include m-query-respond-to(mobile){
    width: 280px;
  }
  .b-intro {
    font: {
      size: 22px;
      weight: 300;
      style: italic;
    }
    line-height: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
  }
  // ----------Social----------
  .b-social {
    margin-bottom: 40px;
    text-align: center;
    li {
      display: inline;
      margin: 0 2px;
      a {
        background: transparent url('#{$b-content-images-path}/social-icons.png') no-repeat 0 0;
        height: 32px;
        width: 32px;
        display: inline-block;
        position: relative;
        @include transition(none, 200ms, ease-in);
        &.b-social__rss {
          background-position: 0 0;
          &:hover {
            background-position: 0 bottom;
          }
        }
        &.b-social__facebook {
          background-position: -32px 0;
          &:hover {
            background-position: -32px bottom;
          }
        }
        &.b-social__twitter {
          background-position: -64px 0;
          &:hover {
            background-position: -64px bottom;
          }
        }
        &.b-social__dribbble {
          background-position: -96px 0;
          &:hover {
            background-position: -96px bottom;
          }
        }
        &.b-social__pinterest {
          background-position: -128px 0;
          &:hover {
            background-position: -128px bottom;
          }
        }
        &.b-social__flickr {
          background-position: -160px 0;
          &:hover {
            background-position: -160px bottom;
          }
        }
        &.b-social__linkedin {
          background-position: -192px 0;
          &:hover {
            background-position: -192px bottom;
          }
        }
        &.b-social__vimeo {
          background-position: -224px 0;
          &:hover {
            background-position: -224px bottom;
          }
        }
        &.b-social__lastfm {
          background-position: -256px 0;
          &:hover {
            background-position: -256px bottom;
          }
        }
        &.b-social__tumblr {
          background-position: -288px 0;
          &:hover {
            background-position: -288px bottom;
          }
        }
        &.b-social__forrst {
          background-position: -320px 0;
          &:hover {
            background-position: -320px bottom;
          }
        }
        &.b-social__skype {
          background-position: -352px 0;
          &:hover {
            background-position: -352px bottom;
          }
        }
        &.b-social__friendfeed {
          background-position: -384px 0;
          &:hover {
            background-position: -384px bottom;
          }
        }
        &.b-social__deviantart {
          &:hover {
            background-position: -416px bottom;
          }
        }
        &.b-social__google {
          background-position: -448px 0;
          &:hover {
            background-position: -448px bottom;
          }
        }
      }
    }

  }
  .b-content {
    float: left;
    width: 670px;
    @include m-query-respond-to(ipad-landscape){
      width: 640px;
    }
    @include m-query-respond-to(medium-screen){
      width: 470px;
    }
    @include m-query-respond-to(tablet){
      width: 440px;
      float: none;
    }
    @include m-query-respond-to(mobile){
      width: 280px;
      float: none;
    }
  }
  .b-content_box_current {
    padding: 20px;
//    padding-bottom: 0;
    position: relative;
    overflow: hidden;
    @include sass-box-sizing($type: "border");
    @include rgba-background(#000, 0.44);
    @include box-shadow(0px 0px 0px 1px rgba(0, 0, 0, 0.44));
  }
  .b-sidebar {
    float: right;
    width: 310px;
    @include m-query-respond-to(ipad-landscape){
      width: 290px;
    }
    @include m-query-respond-to(medium-screen){
      width: 220px;
    }
    @include m-query-respond-to(tablet){
      width: 440px;
      clear: both;
      margin: 30px 0 0 0 !important;
      float: none;
    }
    @include m-query-respond-to(mobile){
      width: 280px;
      clear: both;
      margin: 30px 0 0 0 !important;
      float: none;
    }
    .b-widget {
      margin-bottom: 20px;
      padding-top: 20px;
      background: url('#{$b-content-images-path}/line.png') left top repeat-x;
      &:first-child {
        background: none;
        padding-top: 0;
      }
      .b-widget__title {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 15px;
      }
      li {
        list-style: none;
      }
      a {
        color: $main-text;
        &:hover {
          color: $link-hover;
        }
      }
      .b-widget__post-list {
        color: $main-text;
        .b-widget__frame {
          float: left;
          margin-right: 15px;
          position: relative;
        }
        .b-widget__meta {
          overflow: hidden;
          h6 {
            margin-bottom: 5px;
            font: {
              family: 'Open Sans', sans-serif;
              size: 12px;
              weight: 400;
            }
            line-height: 21px;
          }
          span {
            font-size: 11px;
            color: #797979;
          }
        }
        li {
          @extend %clearfix;
          margin-bottom: 11px;
        }
      }
    }
  }
  .b-content-full {
    @extend %clearfix;
  }
  /*-----------------------------------------------------------------------------------*/
  /*	COLUMNS
  /*-----------------------------------------------------------------------------------*/
  .one-half {
    width: 48%
  }
  .one-third {
    width: 30.66%
  }
  .two-third {
    width: 65.33%
  }
  .one-fourth {
    width: 22%
  }
  .three-fourth {
    width: 74%
  }
  .one-fifth {
    width: 16.8%
  }
  .two-fifth {
    width: 37.6%
  }
  .three-fifth {
    width: 58.4%
  }
  .four-fifth {
    width: 67.2%
  }
  .one-sixth {
    width: 13.33%
  }
  .five-sixth {
    width: 82.67%
  }
  .one-half,
  .one-third,
  .two-third,
  .three-fourth,
  .one-fourth,
  .one-fifth,
  .two-fifth,
  .three-fifth,
  .four-fifth,
  .one-sixth,
  .five-sixth {
    position: relative;
    margin-right: 4%;
    float: left;
  }
  .last {
    margin-right: 0 !important;
    clear: right;
  }
  .column-wrapper {
    overflow: hidden;
    width: 100%;
  }
  .dropcap {
    float: left;
    font-size: 45px;
    margin: 10px 8px 0 0;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
  }

}

